
.content{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(eep.jpeg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
h1{
    font-size: 50;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(227, 41, 41);
    margin-top: 0%;
    margin-left: -200%;
    margin-bottom: 500%;
    
} 
.content nav{
    position: absolute;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    color: rgb(10, 5, 5);
    margin-bottom: -500%;
    margin-top: -52%;
    margin-left: 39%;
    display: flex;
}
.content nav li a{
    text-decoration: none;
    color: crimson;
}
.content nav li a:hover{
    color: rgb(230, 203, 203);
}
.content .name-2 h2{
    color: azure;
   font-size: 35px;
   margin-left: -150px;
}
.content .name-2 h3{
    color: azure;
    text-align: center;
    margin-left: -170px;
}
.content .name-2 p{
    color: azure;
    margin-left: -110px;
}

.content .name-2 button{
    color: crimson;
    border-color: crimson;
}
.content .name-2 input{
    size: 50px;
    margin-left: -5px;
}
.second h4{
    font-size: 50px;
    color: azure;
    background-color: rgb(0, 0, 0);
    margin: 100px auto;
    height: 200px;
    margin-top: 0px;
    text-align: center;
    
}
 .second p{
    color: aliceblue;
    text-align: center;
    top: 30px;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
    height: 300px;
    margin-top: -180px;
}
.second img{
    position: absolute;
    width: 28%;
    left: 36%;
    size: 20%;
    margin-top: -280px;
}

.lang{
    text-align: center;
    margin-top: -30px;
}

